@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: yellow !important;
}

html, body {
  min-height: 100vh;
  background-color: yellow !important;
}

body {
  background-color: yellow !important;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
}
